build/
Julie.app/
Pelíšek.app/
dist/
poznamky.txt
art/nahled*.png
art/mrizka*.png
art/porovnani*.png
art/sprity_prehled*.png
art/listy/*_nahled.jpg
art/listy/nahled*.jpg
art/navrhy/
art/pelisek/navrhy*.png
art/pelisek/r[123].png
art/pelisek/seda[123]_pix.png
art/detailni/
.DS_Store
**/.DS_Store
